<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GD-Apotecario</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
  <section id="header">
    <a href="#"><img src="/img/gd.jpg" class="logo" alt="Logo de la pagina"></a>
    <div>
        <ul id="navbar">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="/views/shop.html">Articulos</a></li>
                <li><a href="/views/nosotros.html">Sobre mi</a></li>
                <li><a class="active" href="/views/contacto.html">Contacto</a></li>
                <li id="lg-bag"><a href="/views/carrito.html"><i class="material-icons-sharp">shopping_basket</i></a></li>
                <a href="#" id="close"><i class="material-icons-sharp">close</i></a>
            </ul>

    </div>
    <div id="mobile">
        <a href="carrito.html"><i class="material-icons-sharp">shopping_basket</i></a>
        <i id="bar" class="material-icons-sharp">menu</i>
    </div>
</section>

<section id="page-header" class="about-header">
    <h2>Descubre Nuestra Esencia</h2>
    <p>Sumérgete en el misterio de nuestro legado, donde la tradición se une con la innovación para crear una experiencia única.</p>
</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>¡Entra si te atreves!</span>
        <h2>¡Visítanos en nuestro Sanctum Oscuro!</h2>
        <h3>¡No te pierdas!</h3>
        <div>
            <li>
                <i class="material-icons-sharp">map</i>
                <p>¡Calle de las Pociones, No. 666, El Bosque Encantado!</p>
            </li>
            <li>
                <i class="material-icons-sharp">email</i>
                <p>¡Envíanos tus mensajes de ultratumba a oscuro@sanctum.com!</p>
            </li>
            <li>
                <i class="material-icons-sharp">phone</i>
                <p>¡+54 9 1234-5678 (Llama bajo tu propio riesgo)!</p>
            </li>
            <li>
                <i class="material-icons-sharp">schedule</i>
                <p>¡Lunes a Viernes de 10:00 a 18:00 ! (Cerrado en noches de luna llena)</p>
            </li>
        </div>
    </div>
    
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3421.661647090013!2d-1.5433676531733898!3d43.270356496801966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd511892ca428611%3A0xe4be09c87f2086c4!2s31710%20Zugarramurdi%2C%20Navarra%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2sar!4v1717984149163!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="">
        <span>¡Déjanos tu mensaje!</span>
        <h2>Queremos saber de ti</h2>
        <input type="text" placeholder="Tu nombre">
        <input type="text" placeholder="Tu E-mail">
        <input type="text" placeholder="Titulo">
        <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
        <button class="normal">Enviar</button>
    </form>

    <div class="people">
        <div>
            <img src="/img/people/1.jpg" alt="">
            <p><span>Willy Wonka - Maestro Chocolatero</span> Propietario de la Fábrica Wonka <br> Teléfono: 555-1234 <br>Email: willy@fabricawonka.com</p>
        </div>
        <div>
            <img src="/img/people/2.jpg" alt="">
            <p><span>Gandalf - Sabio y Guía</span> Mago y explorador de los rincones más remotos de la Tierra Media <br> Teléfono: 555-5678 <br>Email: gandalf@tierramedia.com</p>
        </div>
        <div>
            <img src="/img/people/3.jpg" alt="">
            <p><span>Aleister Crowley - Alquimista Oscuro</span> Experto en los misterios del ocultismo y las artes arcanas <br> Teléfono: 555-9012 <br>Email: aleister@oscuro.com</p>
        </div>
        <div>
            <img src="/img/people/4.jpg" alt="">
            <p><span>Guido D´agostino - Alquimista Aprendiz y Emprendedor</span> Explorador de los secretos alquímicos y emprendedor en el mundo de la magia <br> 555-3456 <br>Email: guido@alquimista.com</p>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Regístrate a nuestras Novedades</h4>
        <p>Y entérate de todas nuestras <span>ofertas exclusivas</span> y nuevas pociones mágicas.</p>
        </div>
    <div class="form">
        <input type="email" placeholder="Ingresa tu correo electrónico">
        <button class="normal">Registrarse</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="/img/gd.jpg" alt="">
        <h4>Contacto</h4>
        <p><strong>Dirección:</strong> Calle de las Pociones, No. 666, El Bosque Encantado</p>
        <p><strong>Teléfono:</strong> +54 9 1234-5678 (Llama bajo tu propio riesgo)</p>
        <p><strong>Horario:</strong> Lunes a Viernes de 10:00 a 18:00 (Cerrado en noches de luna llena)</p>
        <div class="follow">
            <h4>Síguenos</h4>
            <div class="icon">
                <i class="fab fa-instagram"></i>
                <!-- Actualizar iconos de redes sociales (pendiente) -->
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Sobre Nosotros</h4>
        <a href="#">Quiénes Somos</a>
        <a href="#">Envíos</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">Contacto</a>
    </div>

    <div class="col">
        <h4>Mi Cuenta</h4>
        <a href="#">Iniciar Sesión</a>
        <a href="#">Ver Carrito</a>
        <a href="#">Mi Lista de Deseos</a>
        <a href="#">Rastrear Mi Pedido</a>
        <a href="#">Ayuda</a>
    </div>

    <div class="col install">
        <h4>Instala la App</h4>
        <p>Disponible en AppStore o Google Play</p>
        <div class="row">
            <img src="/img/pay/app.jpg" alt="">
            <img src="/img/pay/play.jpg" alt="">
        </div>
        <p>Pagos Seguros</p>
        <img src="/img/pay/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>Todos los derechos reservados. Si ves este mensaje, ya es demasiado tarde.</p>
    </div>
</footer>

    <script type="module" src="/src/main.js"></script>
</body>
</html>