#page-header .about-header {
    background-image: url(/img/about/a6.jpg);
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}
